@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.icon-close {
    mask-image: url(close.svg);
    -webkit-mask-image: url(close.svg);
}

.icon-arrow-down{
    mask-image: url(arrow.svg);
    -webkit-mask-image: url(arrow.svg);
}
.icon-arrow-send{
    mask-image: url(arrowSend.svg);
    -webkit-mask-image: url(arrowSend.svg);
}

.icon-check{
    mask-image: url(iconCheck.svg);
    -webkit-mask-image: url(iconCheck.svg);
}